@font-face {
    font-family: 'PriorityFont';
    src: url('https://cdn.jsdmirror.com/gh/nkqa/my-website@main/static/nekofont-Regular.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
